[submodule ".config/mpv/script-modules/mpv-gallery-view"]
	path = .config/mpv/submodules/mpv-gallery-view
	url = https://github.com/occivink/mpv-gallery-view.git
[submodule ".config/mpv/submodules/mpvSockets"]
	path = .config/mpv/submodules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
